<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">

      <form action="/signup" method="post" id="form-container" enctype="multipart/form-data">
        <div class="field form-group">
          <label for="firstname">First Name: </label>
          <input class = "form-control" id="firstname" type="text" name="firstname" placeholder="First Name">
        </div>
        <div class="field form-group">
          <label for="lastname">Last Name: </label>
          <input class = "form-control" id="lastname" type="text" name="lastname" placeholder="Last Name">
        </div>
        <div class="field form-group">
          <label for="address">Address: </label>
          <input class = "form-control" id="address" type="text" name="address" placeholder="Address">
        </div>
        <div class="field form-group">
          <label for="dniNumber">DNI: </label>
          <input class = "form-control" id="dniNumber" type="text" name="username" placeholder="DNI Number">
        </div>
        <div class="field form-group">
          <label for="dniFront">DNI Front Photo: </label>
          <input class = "form-control" id="dniFront" type="file" name="dniFront">
        </div>
        <div class="field form-group">
          <label for="dniBack">DNI Back Photo: </label>
          <input class = "form-control" id="dniBack" type="file" name="dniBack">
        </div>
        <div class="field form-group">
          <label for="phoneNumber">Phone Number: </label>
          <input class = "form-control" id="phoneNumber" type="text" name="phoneNumber" placeholder="Phone Number">
        </div>
        <div class="field form-group">
          <label for="mail">Email: </label>
          <input class = "form-control" id="mail" type="mail" name="email" placeholder="Mail">
        </div>
        <div class="field form-group">
          <label for="password">Password: </label>
          <input class = "form-control" id="password" type="password" name="password" placeholder="Your password">
        </div>

        <% if (typeof message !== "undefined") { %>
          <div class="error-message">
            <%= message %>
          </div>
          <% } %>

            <div id="create">
              <button>Create account</button>
            </div>

            <div class="check-login">
              <p class="account-message">
                do you already have an account?
                <a class="click" href="/login"> login</a>
              </p>
            </div>
      </form>
    </div>

  </div>
</div>


<!-- <form>
  <div class="form-group">
    <label for="firstname">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
