<h2>EDIT CARD DETAILS</h2>
<form action="/card/edit-card" method="post">
  <div class="form-group">
    <label for="cardNumber">Card Number: </label>
    <input id="cardNumber" class="form-control" type="number" name="cardNumber" maxlength="16" min="0" value="<%= user.cardNumber %>" required>
  </div>
  <div class="form-group">
    <label for="cvv">CVV: </label>
    <input id="cvv" class="form-control" type="number" name="cvv" maxlength="3" min="0" value="<%= user.cardCVV %>" required>
  </div>
  <div class="form-group">
    <label for="expiredDate">Expired Date: </label>
    <input id="expiredDate" class="form-control" type="date" name="expiredDate" value="<%= user.cardExpiredDate %>" required>
  </div>
  <div class="form-group">
    <label for="quantity">Quantity in $: </label>
    <input id="quantity" class="form-control" type="number" name="quantity" step="0.01" min="0" value="<%= user.money %>" required>
  </div>
  <button>Submit Changes</button>
</form>
