<% if(!user.cardNumber){ %>
<h1>To create a wallet, you need money first</h1>
 <%- include("../users/addMoneyToAccount") %>

<% }else{ %>

<h1>YA TIENE CARD</h1>
<div class="field">
  <label for="select-currency">Select currency: </label>
  <select id='select-currency'>
    <option disabled selected value> -- select an option -- </option>
    <option value="BTC-USD">BTC</option>
  </select>
</div>

<div id='market-values'class="field">

</div>


<% } %>
