<h1>AVAILABLE MONEY</h1>

<h3><%= user.money %></h3>
<p><b>available: </b><%= user.money %></p>
<a href="/card/edit-card">INTRODUCE CARD</a>
<a href="/card/delete">DELETE CARD</a>
<a href="/users/home">GO HOME</a>
