<form action="/wallets/create" method="POST">
  <input type="checkbox" name="exchangeBitstamp"> Bitstamp <br>
  <input type="checkbox" name="exchangeBitfinex"> Bitfinex <br>
  <input type="submit" value="Submit">
</form>
