<% if(!user.cardNumber){ %>
<h1>To start arbitrage, you need to add money to your account</h1>
 <%- include("../users/addMoneyToAccount") %>

<% }else{ %>

<h1>LETS MAKE MONEY</h1>
<div class="field">
  <label for="select-currency">Select currency: </label>
  <select id='select-currency'>
    <option disabled selected value> -- select an option -- </option>
    <option value="BTC-USD">BTC</option>
  </select>
</div>

<div id='market-values' class="field">
</div>

<div id='market-values-btns' class="field">
  <button id="init-arbitrage" hidden></button>
  <button id="stop-arbitrage">stop-arbritage</button>
</div>
<% } %>
