<!--user home-->

<p>HOME!</p>

<% if(user) { %>
  <h2>Hola usuario <%= user.firstname %></h2>
  <form action="/logout" method="POST">
    <button>Logout</button>
    <a href="/wallets/create">Create-Wallet</a>
    <a href="/users/edit">Edit-Profile</a>
    <a href="/card/show">show-card</a>
    <a href="/users/userinfo">Show User</a>
  </form>

  <% }else{ %>
    <div class="error-message">
      <%= message %>
    </div>
    <% } %>
