<!--user home-->

<p>HOME!</p>

<% if(user) { %>
  <h2>Hola <%= user.firstname %></h2>
  <form action="/logout" method="POST">

    <a href="/card/show">Add Money to Account</a>
    <a href="/wallets/create">Create Wallet</a>
    <a href="/users/edit">Edit Profile</a>
    <a href="/users/userinfo">Show User</a>
    <button>Logout</button>
  </form>

  <% }else{ %>
    <div class="error-message">
      <%= message %>
    </div>
    <% } %>
