<!--user home-->


<p>HOME!</p>

<% if(user.dniNumber) { %>
  <h2>Hola usuario <%= user.username %></h2>
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>
<% }else{ %>
  <a href="/">Wallet</a>
  <a href="/">Edit</a>
<% } %>
