<% if(!user.cardNumber){ %>
  <h1>To create a wallet, you need money first</h1>
  <%- include("./users/addMoneyToAccount") %>
<% } %>

<% if(user) { %>
  <h2>Hola <%= user.firstname %></h2>
  <canvas id="user-money-evolution"></canvas>
<% }else{ %>
  <div class="error-message">
    <%= message %>
  </div>
<% } %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascript/showUserTradesChart.js"></script>
