<!--user home-->


<p>HOME!</p>

<% if(user) { %>
  <h2>Hola usuario <%= user.firstname %></h2>
  <form action="/logout" method="POST">
    <button>Logout</button>
    <a href="/">Create-Wallet</a>
    <a href="/">Edit-Profile</a>
  </form>
  <% }else{ %>
    <div class="error-message">
      <%= message %>
    </div>
    <% } %>
