
<!-- Intro Header -->
   <header class="masthead">
     <div class="intro-body">
       <div class="container">
         <div class="row">
           <div class="col-lg-12 mx-auto">
           <div class="col-lg-12 mx-auto">
             <img src="img/bitbot1.png" alt="Smiley face" width="400" height="400" style="display:inline-block;margin-bottom:0px;">
             <h1 class="brand-heading">BitBot</h1>
             <p class="intro-text">Everything it touches turns to gold.
               <br>Created by Yaiza.</p>
             <a href="#about" class="btn btn-circle js-scroll-trigger">
               <i class="fa fa-angle-double-down animated"></i>
             </a>
           </div>
         </div>
       </div>
     </div>
   </header>
   <!-- About Section -->
   <section id="about" class="content-section text-center">
     <div class="container">
       <div class="row">
         <div class="col-lg-12 mx-auto">
           <img src="img/btc.ico" alt="Smiley face" width="400" height="400" style="display:inline-block;margin-bottom:0px;;">
           <h2>About Bit Bot</h2>
           <p>Bit Bot is a money making machine. It is an arbitrage bot which takes advantage from the difference in price of crypto assets among different exchanges.
             It carries out arbitrage operations, reducing the risk to none.
           Bit Bot operates in Bitcoin and will be available in other crypto assets soon.</p>
       </div>
     </div>
   </section>
   </section>
   <!-- Map Section -->
   <div id="map"></div>
   <!-- Footer -->
   <footer>
     <div class="container text-center">
       <p>Copyright &copy; Bitbot 2017</p>
     </div>
   </footer>
   <!-- Bootstrap core JavaScript -->
   <script src="vendor/jquery/jquery.min.js"></script>
   <script src="vendor/popper/popper.min.js"></script>
   <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
   <!-- Plugin JavaScript -->
   <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
   <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
   <!-- Custom scripts for this template -->
   <script src="js/grayscale.min.js"></script>
